.menu {
    background: #ffffff;
    box-shadow: 4px 0 5px -2px #dddddd;
    display: flex;
    height: 100%;
    flex-direction: column;
    left: 0px;
    min-width: 300px;
    position: fixed;
    top: 74px;
    width: 300px;
}
.item {
    color: #303030;
    cursor: pointer;
    padding: 22px 0;
    text-decoration: none;
}
.item.active {
    background: #ede4e1;
}
