.leaderboard {
    margin: 10px auto;
}
.leaderboard h3 {
    background: gray;
    color: white;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    transform: translateY(-50%);
    width: 60%;
}
.leaderboard h3.selected {
    background: #3a3341;
}
.leaderboard-item {
    background: white;
    border: 1px solid gainsboro;
    border-radius: 2px;
    padding: 0 10px 10px;
    margin: 35px auto;
    width: 325px;
}
.leaderboard-item:nth-child(3) {
    border-left: 8px solid #c8a970;
}
.leaderboard-item:nth-child(2) {
    border-left: 8px solid #b5b5b5;
}
.leaderboard-item:first-child {
    border-left: 8px solid #e8cc27;
}
.leaderboard .row {
    align-items: center;
    display: flex;
}
.leaderboard .column {
    display: flex;
    flex-direction: column;
    padding: 0 35px 0 15px;
    text-align: left;
}
.leaderboard-item img {
    width: 50px;
}
.questions-report {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px 35px 5px 15px;
    text-align: left;
}
.score {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
}
.score > div {
    background: #abddd5;
    border-radius: 2px;
    color: black;
    line-height: 42px;
    padding: 0 30px;
    text-align: center;
}
