.tabs-container {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    background: #a5a5a5;
}

.tab {
    padding: 15px 0px;
    width: 50%;
    color: #666666;
    cursor: pointer;
}

.tab.active {
    background: #007d72;
    color: white;
    position: relative;
    font-weight: bold;
}

.tabs-content {
    background: #ffffff47;
    height: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
