.tabs-container {
    border-bottom: 1px solid #dadada;
    display: flex;
    justify-content: center;
    width: 100%;
}
.tab {
    background: #efefef;
    color: gray;
    cursor: pointer;
    padding: 15px 0px;
    width: 50%;
}
.tab.active {
    background: rgba(101, 72, 136, 0.3);
    color: black;
    font-weight: bold;
    position: relative;
    font-size: 16px;
}
.tabs-content {
    background: #ffffff47;
    height: 400px;
}
