.tabs-container {
    border-bottom: 1px solid #dadada;
    display: flex;
    justify-content: center;
    width: 100%;
}
.tab {
    background: #efefef;
    color: gray;
    cursor: pointer;
    padding: 16px 0px;
    width: 50%;
}
.tab.active {
    background: rgba(241, 191, 120, 0.7);
    color: #000000;;
    position: relative;
    font-size: 16px;
}
.tabs-content {
    background: #ffffff47;
    height: 400px;
}
