.logo {
    border-bottom: 1px solid #ffffff4f;
    color: white;
    font-family: 'Cookie', sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
    padding-bottom: 25px;
}
.logo.small {
    border: 0px;
    font-size: 30px;
    margin: 0px;
    padding: 0;
}
