.container .create-question {
    background: white;
    border: 1px solid gainsboro;
    margin: 40px auto 0;
}
.container form {
    padding-bottom: 30px;
}
.create-question .options {
    padding: 0px 20px;
}
.options input {
    width: 49%;
    border: none;
    height: 100px;
    border-radius: 2px;
    background: #abddd5;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}
.options input:first-child {
    background: #d0c8db;
}
