.author {
    background: #e6e6e6;
    padding: 10px;
}
.created-by {
    font-size: 11px;
}
.option {
    align-items: center;
    background: #abddd5;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    min-height: 140px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 10px 25px;
    width: 49%;
}
.option.selected {
    border: 3px solid #3a3441;
    position: relative;
}
.option.selected:before {
    background: #3a3441;
    color: white;
    content: 'Your vote';
    font-size: 10px;
    left: 0px;
    top: 0px;
    padding: 4px 10px;
    position: absolute;
}

.option.unselected {
    background: #d0d0d0 !important;
    color: gray;
}
.option.selectable {
    cursor: pointer;
}
.option.selectable:hover {
    background: #34a794;
}
.option:first-child{
    background: #f3b967;
}
.option.selectable:first-child:hover{
    background: #c4924b;
}
.options {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
    padding-left: 15px;
}
.percetage {
    background: white;
    border-radius: 2px;
    border: 1px solid white;
    font-size: 12px;
    position: relative;
    width: 85%;
    height: 20px;
    margin-top: 5px;
    line-height: 20px;
}
.percetage > div {
    background: #888888;
    height: 100%;
    color: white;
}
.question {
    border-radius: 5px;
    box-shadow: 0 0 11px 0px #c1c1c1;
    box-sizing: border-box;
    margin: 15px 20px;
    margin-top: 45px;
    padding-bottom: 10px;
}
.text {
    display: block;
}
.votes {
    margin-top: 10px;
    font-size: 14px;
}
